<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">HotelCommerce</title>

<meta name="description" content=""/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/cerulean/bootstrap.min.css" />
<!-- custom css, library -->
<th:block layout:fragment="styles"></th:block>
<!-- custom js, library which requires to be load in head -->
<th:block layout:fragment="head-scripts"></th:block>
</head>
<body>

<div class="container">
	
	<div class="content" layout:fragment="content"></div>
	
</div>
<!-- Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- custom js, library which requires to be load in foot -->
<th:block layout:fragment="scripts"></th:block>


</body>

</html>