<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title>List Customer</title>
</head>
<div layout:fragment="content" id="content">

<div class="row">
<div class="col-12">
<div class="card">

<div class="card-body">
<h4 class="card-title">List Customer</h4>

<div class="table-responsive">
<table id="customer" class="table table-striped border">
<thead>
    <tr>
        <th>ID</th>
        <th>Firstname</th>
		<th>Lastname</th>        
        <th>NAME OF ADDRESS</th>
        <th></th>
    </tr>
</thead>


</table>
</div>

</div>

</div>
</div>
</div>



</div>

<th:block layout:fragment="styles">
<link rel="stylesheet" type="text/css"  href="/themefiles/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" />
</th:block>


<th:block layout:fragment="scripts">
<script src="/themefiles/assets/extra-libs/DataTables/datatables.min.js"></script>
<script type="text/javascript" src="js/jquery.spring-friendly.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/

$("table#customer").DataTable({  
    
	ajax: {
		
		url: '/api/customers',
		
	},
		
		
		
	
	/*
    ajax: {
        contentType: 'application/json',
        url: '/api/customers',
        type: 'POST',
        data: function(d) {
          return JSON.stringify(d);
        }
    },
    */
    processing:true,
    serverSide: true,
    
    columns: [
        {
            data: 'id'
        },
        {
            data: 'firstName'
        },
        {
            data: 'lastName'
        },
        
        /*
        {
            data: 'salary',
            render: function (data) { return data + '$'; }
        },*/
        {
            data: 'address.name',
            render: function (data) { return data ? data : '-'; }
        },{
        	data:null,
        	sortable: false,
        	searchable: false,
        	render: function (data, type, row) {
        		console.log(row);
                return '<a class="table-edit btn btn-info" data-id="' + row.id + '" href="/customer/update/'+row.id+'">UPDATE</a>'
            }
        }
    ]
});	


/*]]>*/
</script>
</th:block>