<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title>Add new customer</title>
</head>
<div layout:fragment="content" id="content">
<div class="row">
		<div class="col-md-6 col-md-offset-3">
<form action="#" th:action="@{create}" th:object="${customer}" method="post">
    
    <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
    	<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
	</div>
    
    
    <div class="form-group">
    <label th:for="#{title}" th:text="#{title}"></label>  
    
    <select class="form-control" id="title" th:field="*{title}">
        <option value="">Select Title</option>
        <option th:each="title : ${titles}"
                th:value="${title.value}"
                th:text="${title.value}"></option>
    </select>
    
    <span class="badge badge-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    </div>
    
    <div class="form-group">
    <label th:for="#{firstName}" th:text="#{firstName}"></label>
    <input class="form-control" type="text" th:field="*{firstName}" th:id="${firstName}" th:placeholder="#{firstName}">
    <span class="badge badge-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    </div>
    
    <div class="form-group">
    <label th:for="#{lastName}" th:text="#{lastName}"></label>
    <input class="form-control" type="text" th:field="*{lastName}" th:id="${lastName}" th:placeholder="#{lastName}">
    <span class="badge badge-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    </div>
    
   
    <div class="form-group">
    <label th:for="#{dateOfBirth}" th:text="#{dateOfBirth}"></label>
    <input class="form-control" type="text" th:field="*{dateOfBirth}" th:id="${dateOfBirth}" th:placeholder="#{dateOfBirth}">
    <span class="badge badge-danger" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></span>
    </div>

    <p>Address:</p>
    <hr/>
    
    <div class="form-group">
    <label th:for="#{address.name}" th:text="#{address.name}"></label>
    <input class="form-control" type="text" th:field="*{address.name}" id="aliasName" th:placeholder="#{address.name}">
    <span class="badge badge-danger" th:if="${#fields.hasErrors('address.name')}" th:errors="*{address.name}"></span>
    </div> 
   	
   	<div class="form-group">
    <label th:for="#{address.streetOne}" th:text="#{address.streetOne}"></label>
    <input class="form-control" type="text" th:field="*{address.streetOne}" id="streetOne" th:placeholder="#{address.streetOne}">
    <span class="badge badge-danger" th:if="${#fields.hasErrors('address.streetOne')}" th:errors="*{address.streetOne}"></span>
    </div> 
    
    <div class="form-group">
    <label th:for="#{address.zipCode}" th:text="#{address.zipCode}"></label>
    <input class="form-control" type="text" th:field="*{address.zipCode}" id="zipCode" th:placeholder="#{address.zipCode}">
    <span class="badge badge-danger" th:if="${#fields.hasErrors('address.zipCode')}" th:errors="*{address.zipCode}"></span>
    </div> 
   
    <div class="form-group">
    	<input class="btn btn-primary" type="submit" value="Create">
    </div>   
</form>
</div>
</div>
</div>

<th:block layout:fragment="styles">
<link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.min.css" />
<link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.min.css.map" />
<link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />

</th:block>


<th:block layout:fragment="scripts">
<script src="http://momentjs.com/downloads/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
$(function(){
	$("#dateOfBirth").datetimepicker({
		format:'YYYY-MM-DD'
	});
});

/*]]>*/
</script>

</th:block>